<a href="https://colab.research.google.com/github/antonio-ledesma28/edd1358_2021/blob/master/120ctubre_1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Diccionarios (continuación)
cliente_banco = {
           "id":1,
           "nombres":["Juan","Antonio"],
           "paterno": "García",
           "materno":"Pérez",
           "teléfonos":{
                        "casa": 5540430210,
                        "celular": 5527389191,
                        "trabajo":5528939922                     
                       },
           "activo":True,
           "balance":234567.89,
           "tarjetas":({"tipo":"débito","saldo":12000},
                        {"tipo":"crédito","saldo":3500})
          }
print(cliente_banco)
#cliente_banco["balance"] = cliente_banco["balance"]-1000.89
cliente_banco["balance"]-=100.89
print(cliente_banco)

#Puedes cambiar una tupla solo por otra tupla
cliente_banco["tarjetas"] = ({"tipo":"débito","saldo":12000},
                        {"tipo":"crédito","saldo":3500},
                        {"tipo":"crédito","nivel":"oro","saldo":50000})
print(cliente_banco)

#Pop
cliente_banco["direccion"]={"calle":"rancho seco","num":23}
print(cliente_banco)
cliente_banco.pop("tarjetas")
print(cliente_banco)

{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'García', 'materno': 'Pérez', 'teléfonos': {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}, 'activo': True, 'balance': 234567.89, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'García', 'materno': 'Pérez', 'teléfonos': {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}, 'activo': True, 'balance': 234467.0, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'García', 'materno': 'Pérez', 'teléfonos': {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}, 'activo': True, 'balance': 234467.0, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500}, {'tipo': 'crédito', 'nivel': 'oro', 'saldo': 50000})}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'García', 'materno': 'Pérez', 'teléfonos': {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}, 'activo': True, 'balance': 234467.0, 'tarjetas': ({'tipo': 'débito', 'saldo': 12000}, {'tipo': 'crédito', 'saldo': 3500}, {'tipo': 'crédito', 'nivel': 'oro', 'saldo': 50000}), 'direccion': {'calle': 'rancho seco', 'num': 23}}
{'id': 1, 'nombres': ['Juan', 'Antonio'], 'paterno': 'García', 'materno': 'Pérez', 'teléfonos': {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}, 'activo': True, 'balance': 234467.0, 'direccion': {'calle': 'rancho seco', 'num': 23}}

In [23]:
llaves = cliente_banco.keys()
print(llaves)
print(type(llaves))
#Imprime el nombre de los ids
for x in llaves:
  print(x)

valores = cliente_banco.values()
for v in valores:
  print(v)

pares = cliente_banco.items()
print(pares)

for elem in pares:
  print(f"{elem[0]} = {elem[1]}")

dict_keys(['id', 'nombres', 'paterno', 'materno', 'teléfonos', 'activo', 'balance', 'direccion'])
<class 'dict_keys'>
id
nombres
paterno
materno
teléfonos
activo
balance
direccion
1
['Juan', 'Antonio']
García
Pérez
{'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}
True
234467.0
{'calle': 'rancho seco', 'num': 23}
dict_items([('id', 1), ('nombres', ['Juan', 'Antonio']), ('paterno', 'García'), ('materno', 'Pérez'), ('teléfonos', {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}), ('activo', True), ('balance', 234467.0), ('direccion', {'calle': 'rancho seco', 'num': 23})])
id = 1
nombres = ['Juan', 'Antonio']
paterno = García
materno = Pérez
teléfonos = {'casa': 5540430210, 'celular': 5527389191, 'trabajo': 5528939922}
activo = True
balance = 234467.0
direccion = {'calle': 'rancho seco', 'num': 23}

In [28]:
fruta = {"nombre":"manzana","color":"rojo","estado":"chihuahua"}
otras_caracteristicas = {"vitamina":"D"}
fruta.update(otras_caracteristicas)
print(fruta)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'chihuahua', 'vitamina': 'D'}

#Funciones
- recibe de 0 a n argumentos de entrada
- regresa solo un valor, aunque ese valor sea None.
- tiene un nombre en el contexto.
- se pueden hacer dos cosas con funciones:
    - Definirla
    - Llamarla

In [32]:
def suma(a,b):
  return a+b

def saludar():
  print("Hola ¿Cómo estás?")
  return None

x=10
y=20
c= suma(x,y)
print(c)
saludar()

30
Hola ¿Cómo estás?

#None y las funciones
Aprovechar el uso de none en paso de parámetros.

In [36]:
def calcular(base,veces):
  if base != None:
    resultado = base *veces
  else:
    resultado = "desconocido"
  return resultado

print(calcular(4,3))
print(calcular(None,3))

12
desconocido